header{
    background-image: url("../img/two.jpg");
    background-repeat: no-repeat;
    background-size: cover; background-position: center;
    padding: 10%;
    font-family: "Lucida Handwriting";
    font-weight: bold;
    font-size: xx-large;
    color: whitesmoke;

}





section{
    padding: 50px;
    display: flex;
    flex-direction: column;

}


div{
font-family: "Lucida Handwriting", "sans-serif";
}

footer{
    background-color: lightskyblue;

    margin: 10px;
    padding: 5%;
}

ul {
    text-align: right;
    list-style-type: none;


}

li{
    display: inline-block;
    color: whitesmoke;
    padding-right: 20px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}


a:hover{
    color: lightskyblue;
}

.about {
    font-family: "Times New Roman";
    text-indent: 40px;

}
.t{
    font-family: "Lucida Handwriting", "sans-serif";
}

body{
    background-color:#e6e6e6;
}